@model List<PostModel>

@{
    ViewData["Title"] = "Blog Posts";
}

<h2>All Posts</h2>
<div class="container">
    <div class="row">
        <a class="btn btn-success" asp-action="NewPost">+ New Post</a>
    </div>

    @foreach (PostModel post in Model)
    {
        <div class="row spaced-row show-bottom-border">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <a asp-action="ViewPost" asp-route-id="@post.Id" class="btn btn-link zx-link">@post.Title</a>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="btn-group">
                    <a asp-action="EditPost" asp-route-id="@post.Id" class="btn btn-xs btn-info"><text class="glyphicon glyphicon-pencil"></text></a>
                    <a asp-action="DeletePost" asp-route-id="@post.Id" class="btn btn-xs btn-danger"><text class="glyphicon glyphicon-trash"></text></a>
                </div>
            </div>
        </div>
    }

</div>
