@model PostModel

@{
    ViewData["Title"] = "View Post";
    string postMetaDataString = $"Created: {Model.CreatedDateTime.ToShortDateString()} {Model.CreatedDateTime.ToShortTimeString()}";
    if (Model.EditedDateTime != null && Model.EditedDateTime != DateTime.MinValue)
    {
        postMetaDataString += $", Last edited: {Model.EditedDateTime.ToShortDateString()} {Model.EditedDateTime.ToShortTimeString()}";
    }
}

<div class="container">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
        <p class="blog-post-metadata">@postMetaDataString <a asp-action="EditPost" asp-route-id="@Model.Id" class="btn btn-xs btn-link"><text class="glyphicon glyphicon-pencil"></text></a><br /></p>
        <hr />
        <div class="blog-post-content">
            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="row">
        <a class="btn btn-xs btn-primary" asp-action="Index">Back</a>
    </div>
</div>
