
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<div class="container">
    <div class="row">
        <p>Dashboard content goes here.</p>
        <a asp-controller="Post" asp-action="NewPost">New Post</a>
        <a asp-controller="Post" asp-action="EditPost">Edit</a>
    </div>
</div>
