
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<div class="container">
    <div class="row">
        <p>Dashboard content goes here.</p>
        <a class="btn btn-primary" asp-controller="Post" asp-action="Index">Manage Blog</a>
    </div>
</div>
