@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h6>@ViewData["Message"]</h6>

<address>
    <a href="mailto:xivdot@gmail.com">Email <i class="far fa-envelope"></i></a><br />
</address>
