@{
    ViewData["Title"] = "Home Page";
}

<div class="profile-content">
    <div class="img-container">
        <img id="profile-image" src="/assets/profile.png" alt="">
    </div>
    <div class="headerContent">
        <span>&nbsp;&nbsp;Jonathan Cain</span>
        <p>
            Software developer, passionate learner,
            solutions engineer, nerd, self-motivated, and
            enthusiastic about software and game development.
            I build tools and simple games, learn everything
            I can, and always look for great opportunities to
            do something interesting. Dad to one and variety
            gamer in my spare time. Occasionally stream on Twitch.
        </p>
    </div>
</div>