$color-textdefault: #fafafa;
$color-metaText: #888;

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    background: #151515;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    color: $color-textdefault;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;
    }
}

.dashboard-profile-img {
    max-width: 200px;
    min-width: 190px;
}

.dashboard-section {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    padding: 20px;
}

.profile-content {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    padding: 20px 0px 20px 5px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.img-container {
    padding: 20px;
}

.headerContent {
    color: $color-textdefault;
    overflow: hidden;
}

.zx-link {
    color: $color-textdefault;
    text-decoration: none;

    &:hover {
        color: $color-metaText;
        text-decoration: underline;
    }
}

.zx-li {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: 1px solid #333;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#footer {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 70px;
    width: 100%;
    padding: 4px;
    bottom: 4px;
    color: #8a8a8a;
}

.spaced-row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.space-row-top {
    padding-top: 8px;
}

.space-row-bottom {
    padding-bottom: 8px;
}

.show-bottom-border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.blog-post {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    margin-left: 0px;
    padding-bottom: 4rem;
}

.blog-post-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-metadata {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1.25rem;
    color: $color-metaText;
    font-style: italic;
}

.blog-post-content {
    padding-left: 20px;
    padding-right: 20px;
}

.blog-post-endLine {
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.25;
}